/**
Cambios en el template
 */

.container-fluid.imagen_blockchain {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    margin: 21px auto;
    width: 100%;
    height: 430px;
}

.align-content-center.size {
    width: 71%;
    padding-top: 11%;
    padding-left: 2%;
    margin: auto;
    /* background-color: red;*/
}

input#search_address {
    width: 64% !important;
}

.active a {
    color: red;
    text-decoration: none;
}

/***************************/
#Balance_full_address .dash {
    padding: 0 20px;
}

#Balance_full_address .dash, .well {
    border: 1px solid #ddd;
    background: #f5f5f5;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 40px;
}

#Balance_full_address .dash ul {
    list-style: none;
    padding: 0;
}

#Balance_full_address ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

#Balance_full_address .dash.dash-3 li, .dash.dash-4 li {
    width: 100%;
}

#Balance_full_address .dash li {
    float: none;
    border-right: 0;
    border-bottom: 1px solid #ddd;
}

#Balance_full_address .dash .dash-label {
    font-size: .7em;
    text-transform: uppercase;
    color: #888;
    font-family: myriad_pro_lightregular, helvetica, arial, sans-serif;
}

#Balance_full_address .dash li {
    float: none;
    border-right: 0;
    border-bottom: 1px solid #ddd;
}

/*****************************/

table.table.table-hover.background_white {
    background-color: white;
    margin-top: 12px;
}

.col-md-10.table-responsive.top_marginn {
    margin-top: 45px;
}

strong.dash-label.color-size-address {
    color: #888;
    font-size: 12px;
}

input#btn_hash {
    margin-top: -30px;
    color: #1d68a7;
    text-decoration: underline;
}

svg.top_check.bi.bi-check-all {
    margin-top: -5px;
}

/**************************************/
/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

input#btn_hash_admin {
    margin-top: -30px;
    color: #1d68a7;
    text-decoration: underline;
}