/**
Cambios en el template
 */

.container-fluid.imagen_blockchain {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    margin: 21px auto;
    width: 100%;
    height: 688px;
}

.align-content-center.size {
    width: 71%;
    padding-top: 11%;
    padding-left: 2%;
    margin: auto;
/* background-color: red;*/
}

input#search_address {
width: 64% !important;
}